In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
executions_csv_src = '../output/metrics/executions_by_student.csv'
df_exec_by_std = pd.read_csv(executions_csv_src)
df_exec_by_std['num_queries'] = df_exec_by_std.apply(
    lambda row: row['num_submissions'] + row['num_tests'],
    axis = 1
)
df_exec_by_std

,student,question,is_correct,num_submissions,num_tests,num_errors,num_logic_errors,num_syntax_errors,amount_of_change,num_queries
0,9225,6784,True,7,39,6,2,4,1102,46
1,9225,1117,False,23,30,23,9,14,3409,53
2,9225,1605,True,2,1,1,0,1,1235,3
3,9225,2894,True,1,7,0,0,0,92,8
4,9225,5239,True,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
37465,8918,6366,False,15,23,15,7,8,426,38
37466,8918,6396,True,1,3,0,0,0,23,4
37467,8918,1081,True,2,2,1,1,0,17,4
37468,8918,1652,True,1,5,0,0,0,27,6
37469,8918,3591,True,2,3,1,0,1,64,5

In [13]:
corrected_sol_df = df_exec_by_std[df_exec_by_std['is_correct']] \
    .drop(columns=['amount_of_change', 'num_queries', 'num_logic_errors'])
corrected_sol_df

,student,question,is_correct,num_submissions,num_tests,num_errors,num_syntax_errors
0,9225,6784,True,7,39,6,4
2,9225,1605,True,2,1,1,1
3,9225,2894,True,1,7,0,0
4,9225,5239,True,1,0,0,0
5,9225,6197,True,2,8,1,0
...,...,...,...,...,...,...,...
37464,8918,6655,True,1,0,0,0
37466,8918,6396,True,1,3,0,0
37467,8918,1081,True,2,2,1,0
37468,8918,1652,True,1,5,0,0
37469,8918,3591,True,2,3,1,1

In [14]:
CODE_SRC = '../output/data/unified_solutions.csv'
code_df = pd.read_csv(CODE_SRC)
code_df = code_df.replace('[]', 0.0)
code_df

C:\Users\thiag\AppData\Local\Temp\ipykernel_9332\2888309637.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  code_df = code_df.replace('[]', 0.0)

,semester,course,assignment,user,problem,complexity,classes,functions,functions_complexity,classes_complexity,...,builtin_type,builtin_func,kwd_print,kwd_input,builtin_type_unique,builtin_func_unique,identifiers_unique,identifiers_max_len,identifiers_min_len,identifiers_mean_len
0,2016-1,102,106,1088,1100,7.0,0.0,0.0,0.0,0.0,...,1.0,0.0,8.0,1.0,1,2,1,1,1,1.000000
1,2016-1,102,106,1175,1079,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0.000000
2,2016-1,102,136,1175,1132,3.0,0.0,0.0,0.0,0.0,...,2.0,0.0,1.0,2.0,1,2,2,8,3,5.500000
3,2016-1,102,106,1278,1079,7.0,0.0,0.0,0.0,0.0,...,3.0,1.0,6.0,3.0,1,3,8,4,1,2.125000
4,2016-1,102,106,1278,1099,13.0,0.0,0.0,0.0,0.0,...,3.0,0.0,8.0,3.0,1,2,3,1,1,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350472,2024-1,597,5915,9958,7037,8.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1,3,7,5,1,4.428571
350473,2024-1,597,5941,9958,1647,5.0,0.0,0.0,0.0,0.0,...,2.0,1.0,2.0,1.0,2,3,11,9,1,4.181818
350474,2024-1,597,5941,9958,2846,2.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,2,3,8,8,1,5.000000
350475,2024-1,597,5941,9958,6360,2.0,0.0,0.0,0.0,0.0,...,2.0,0.0,2.0,1.0,2,2,1,1,1,1.000000
350476,2024-1,597,5941,9958,6372,6.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,1,2,8,6,1,4.500000

In [15]:
exams = pd.read_csv('../output/data/assessments.csv')
exams

          id
0        106
1        106
2        136
3        106
4        106
...      ...
350472  5915
350473  5941
350474  5941
350475  5941
350476  5941

[350477 rows x 1 columns]

In [16]:
code_df = code_df[code_df['assignment'].isin(exams['id'].tolist())]
code_df

,semester,course,assignment,user,problem,complexity,classes,functions,functions_complexity,classes_complexity,...,builtin_type,builtin_func,kwd_print,kwd_input,builtin_type_unique,builtin_func_unique,identifiers_unique,identifiers_max_len,identifiers_min_len,identifiers_mean_len
0,2016-1,102,106,1088,1100,7.0,0.0,0.0,0.0,0.0,...,1.0,0.0,8.0,1.0,1,2,1,1,1,1.000000
1,2016-1,102,106,1175,1079,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0.000000
2,2016-1,102,136,1175,1132,3.0,0.0,0.0,0.0,0.0,...,2.0,0.0,1.0,2.0,1,2,2,8,3,5.500000
3,2016-1,102,106,1278,1079,7.0,0.0,0.0,0.0,0.0,...,3.0,1.0,6.0,3.0,1,3,8,4,1,2.125000
4,2016-1,102,106,1278,1099,13.0,0.0,0.0,0.0,0.0,...,3.0,0.0,8.0,3.0,1,2,3,1,1,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350472,2024-1,597,5915,9958,7037,8.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1,3,7,5,1,4.428571
350473,2024-1,597,5941,9958,1647,5.0,0.0,0.0,0.0,0.0,...,2.0,1.0,2.0,1.0,2,3,11,9,1,4.181818
350474,2024-1,597,5941,9958,2846,2.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,2,3,8,8,1,5.000000
350475,2024-1,597,5941,9958,6360,2.0,0.0,0.0,0.0,0.0,...,2.0,0.0,2.0,1.0,2,2,1,1,1,1.000000
350476,2024-1,597,5941,9958,6372,6.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,1,2,8,6,1,4.500000

In [17]:
df = corrected_sol_df.merge(code_df, how='inner', left_on=['student', 'question'], right_on=['user', 'problem'])
df

,student,question,is_correct,num_submissions,num_tests,num_errors,num_syntax_errors,semester,course,assignment,...,builtin_type,builtin_func,kwd_print,kwd_input,builtin_type_unique,builtin_func_unique,identifiers_unique,identifiers_max_len,identifiers_min_len,identifiers_mean_len
0,9225,6784,True,7,39,6,4,2023-2,563,5346,...,1.0,0.0,9.0,2.0,1,2,5,5,1,2.400000
1,9225,1605,True,2,1,1,1,2023-2,563,5440,...,0.0,3.0,1.0,1.0,0,5,6,6,1,4.500000
2,9225,2894,True,1,7,0,0,2023-2,563,5229,...,1.0,0.0,1.0,1.0,1,2,2,5,3,4.000000
3,9225,5239,True,1,0,0,0,2023-2,563,5324,...,1.0,0.0,6.0,1.0,1,2,1,4,4,4.000000
4,9225,6197,True,2,8,1,0,2023-2,563,5425,...,2.0,0.0,1.0,2.0,1,2,5,12,3,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33852,8918,6655,True,1,0,0,0,2023-1,530,5126,...,0.0,2.0,1.0,1.0,0,4,10,5,1,2.500000
33853,8918,6396,True,1,3,0,0,2023-1,530,5164,...,1.0,1.0,1.0,1.0,1,3,5,5,1,3.200000
33854,8918,1081,True,2,2,1,0,2023-1,530,5184,...,4.0,1.0,3.0,4.0,1,3,6,5,1,2.333333
33855,8918,1652,True,1,5,0,0,2023-1,530,5184,...,1.0,1.0,2.0,1.0,1,3,8,5,1,3.500000
33856,8918,3591,True,2,3,1,1,2023-1,530,5184,...,0.0,1.0,1.0,1.0,0,3,5,5,1,3.200000

In [18]:
codes = {}
for row in df.iterrows():
    data = row[1]
    row_student = data['student']
    row_question = data['question']
    
    info = (data['num_submissions'], data['num_tests'], data['num_syntax_errors'])
    if not row_question in codes or info < codes[row_question][1:]:
        codes[row_question] = (row_student, *info)

codes

{6784: (6308, 1, 7, 0),
 1605: (9224, 1, 0, 0),
 2894: (9210, 1, 0, 0),
 5239: (9225, 1, 0, 0),
 6197: (4494, 1, 1, 0),
 5168: (4816, 1, 0, 0),
 6375: (5699, 1, 0, 0),
 6470: (8804, 1, 0, 0),
 1649: (9225, 1, 0, 0),
 6650: (9214, 1, 0, 0),
 6838: (5699, 1, 0, 0),
 1391: (9219, 1, 0, 0),
 6345: (8248, 1, 0, 0),
 5287: (8669, 1, 0, 0),
 6208: (9780, 1, 0, 0),
 6382: (6464, 1, 0, 0),
 6753: (7576, 1, 0, 0),
 5233: (8233, 1, 0, 0),
 2853: (9225, 1, 0, 0),
 2588: (9211, 1, 0, 0),
 5999: (2490, 1, 0, 0),
 5623: (9225, 1, 0, 0),
 5259: (9214, 1, 0, 0),
 2844: (9225, 1, 0, 0),
 6729: (7682, 1, 0, 0),
 2969: (9275, 1, 0, 0),
 6316: (9226, 1, 0, 0),
 6365: (9164, 1, 0, 0),
 6481: (9670, 1, 0, 0),
 1117: (4777, 1, 0, 0),
 2946: (9219, 1, 0, 0),
 5937: (9210, 1, 0, 0),
 1397: (9219, 1, 0, 0),
 2938: (8324, 1, 0, 0),
 1395: (8233, 1, 0, 0),
 2975: (8232, 1, 0, 0),
 5998: (9219, 1, 0, 0),
 6759: (9217, 1, 0, 0),
 6480: (8248, 1, 1, 0),
 6379: (9270, 1, 0, 0),
 6204: (4552, 1, 0, 0),
 6749: (9170, 1, 0, 0),
 6473: (9814, 1, 0, 0),
 6218: (9279, 1, 0, 0),
 6367: (9214, 1, 0, 0),
 6778: (9209, 1, 1, 0),
 1641: (6359, 1, 0, 0),
 5946: (4552, 1, 0, 0),
 6818: (8324, 1, 0, 0),
 6701: (4739, 1, 0, 0),
 5169: (9248, 1, 0, 0),
 6211: (3108, 1, 0, 0),
 6221: (9209, 1, 0, 0),
 6654: (7215, 1, 1, 0),
 2972: (9223, 1, 0, 0),
 6373: (9234, 1, 0, 0),
 2968: (9958, 1, 0, 0),
 2847: (6453, 1, 0, 0),
 6364: (8666, 1, 0, 0),
 6779: (9312, 1, 2, 0),
 2971: (9224, 1, 0, 0),
 1639: (8669, 1, 0, 0),
 6835: (8248, 1, 0, 0),
 1647: (3226, 1, 0, 0),
 6478: (9214, 1, 0, 0),
 6004: (5699, 1, 0, 0),
 6196: (9229, 1, 0, 0),
 2970: (9224, 1, 0, 0),
 2967: (9209, 1, 0, 0),
 6344: (9826, 1, 0, 0),
 2973: (9165, 1, 0, 0),
 5935: (9682, 1, 0, 0),
 6758: (4456, 1, 0, 0),
 6474: (4226, 1, 0, 0),
 5163: (9214, 1, 0, 0),
 6751: (8667, 1, 0, 0),
 1092: (9185, 1, 0, 0),
 6737: (9254, 1, 1, 0),
 6209: (9205, 1, 0, 0),
 6725: (9171, 1, 0, 0),
 3590: (8720, 1, 0, 0),
 1418: (9137, 1, 0, 0),
 6647: (9278, 1, 0, 0),
 6482: (6303, 1, 0, 0),
 6361: (8229, 1, 0, 0),
 1621: (9211, 1, 0, 0),
 6206: (9811, 1, 0, 0),
 1645: (9270, 1, 0, 0),
 6761: (9158, 1, 0, 0),
 6002: (4456, 1, 0, 0),
 6727: (8233, 1, 0, 0),
 6700: (8232, 1, 0, 0),
 6203: (7672, 1, 1, 0),
 6832: (9227, 1, 0, 0),
 6723: (9670, 1, 2, 0),
 6247: (9787, 1, 0, 0),
 6350: (9737, 1, 0, 0),
 6378: (9274, 1, 0, 0),
 5930: (9211, 1, 0, 0),
 5170: (6303, 1, 0, 0),
 6201: (5699, 1, 1, 0),
 6760: (7576, 1, 0, 0),
 6471: (9888, 1, 0, 0),
 6777: (9811, 1, 0, 0),
 6649: (9280, 1, 0, 0),
 6485: (9241, 1, 0, 0),
 6220: (8247, 1, 0, 0),
 6752: (9211, 1, 0, 0),
 6007: (9297, 1, 0, 0),
 6360: (8807, 1, 0, 0),
 6476: (4739, 1, 0, 0),
 5172: (9306, 1, 0, 0),
 1648: (2382, 1, 0, 0),
 6781: (9737, 1, 0, 0),
 6646: (9242, 1, 0, 0),
 6472: (3775, 1, 0, 0),
 6722: (9781, 1, 1, 0),
 6754: (9217, 1, 0, 0),
 5949: (8667, 1, 0, 0),
 3588: (9811, 1, 0, 0),
 6216: (3967, 1, 1, 0),
 6210: (9666, 1, 0, 0),
 6246: (9666, 1, 0, 0),
 5931: (8233, 1, 0, 0),
 6815: (9304, 1, 2, 0),
 5167: (3469, 1, 0, 0),
 6372: (9209, 1, 0, 0),
 6475: (9809, 1, 0, 0),
 6003: (8233, 1, 0, 0),
 6780: (8233, 1, 0, 0),
 1655: (3484, 1, 0, 0),
 6362: (4739, 1, 0, 0),
 6756: (9292, 1, 0, 0),
 6374: (9684, 1, 0, 0),
 6198: (9811, 1, 0, 0),
 6764: (9739, 1, 0, 0),
 6774: (9205, 1, 0, 0),
 6483: (4816, 1, 0, 0),
 3593: (9737, 1, 0, 0),
 6731: (5522, 1, 1, 0),
 2846: (9827, 1, 0, 0),
 6748: (4739, 1, 0, 0),
 6343: (9227, 1, 0, 0),
 6000: (4816, 1, 0, 0),
 6762: (9170, 1, 0, 0),
 6831: (9241, 1, 0, 0),
 6817: (8178, 1, 0, 0),
 6469: (9741, 1, 0, 0),
 5932: (7586, 1, 0, 0),
 6766: (9170, 1, 0, 0),
 6371: (9779, 1, 1, 0),
 6721: (9793, 1, 0, 0),
 6755: (9161, 1, 0, 0),
 6212: (8324, 1, 0, 0),
 6468: (7215, 1, 0, 0),
 5166: (8324, 1, 0, 0),
 6484: (4456, 1, 0, 0),
 5929: (3967, 1, 0, 0),
 6830: (9807, 1, 0, 0),
 6217: (6303, 1, 1, 0),
 6728: (9772, 1, 0, 0),
 6351: (9303, 1, 0, 0),
 6199: (9744, 1, 0, 0),
 3591: (9744, 1, 0, 0),
 6006: (9171, 1, 0, 0),
 1642: (1906, 1, 0, 0),
 6376: (9678, 1, 2, 0),
 6393: (8158, 1, 0, 0),
 6214: (4226, 1, 0, 0),
 5625: (9161, 1, 0, 0),
 6005: (9795, 1, 0, 0),
 6347: (9166, 1, 0, 0),
 2845: (9313, 1, 2, 0),
 6726: (9738, 1, 1, 0),
 6699: (5699, 1, 0, 0),
 6213: (9154, 1, 0, 0),
 5936: (9675, 1, 0, 0),
 6192: (9775, 1, 0, 0),
 6833: (9248, 1, 0, 0),
 6479: (9168, 1, 0, 0),
 5164: (9747, 1, 1, 0),
 5951: (2490, 1, 0, 0),
 6816: (8289, 1, 0, 0),
 1644: (3102, 1, 1, 0),
 6837: (9137, 1, 0, 0),
 3586: (9773, 1, 0, 0),
 6352: (8178, 1, 0, 0),
 6366: (9708, 1, 0, 0),
 6200: (9279, 1, 0, 0),
 6655: (9137, 1, 0, 0),
 1643: (9312, 1, 0, 0),
 6811: (9297, 1, 0, 0),
 6834: (9682, 1, 1, 0),
 6750: (9252, 1, 0, 0),
 6772: (9254, 1, 1, 0),
 5953: (4739, 1, 0, 0),
 6396: (5699, 1, 0, 0),
 5165: (9686, 1, 0, 0),
 6380: (9228, 1, 0, 0),
 6363: (9775, 1, 2, 0),
 6746: (4816, 1, 0, 0),
 1646: (9778, 1, 1, 0),
 6207: (9234, 1, 0, 0),
 6763: (9278, 1, 0, 0),
 6757: (9840, 1, 0, 0),
 6829: (9131, 1, 0, 0),
 6747: (7215, 1, 0, 0),
 3589: (7215, 1, 0, 0),
 6477: (7682, 1, 0, 0),
 6222: (9166, 1, 1, 0),
 6342: (9274, 1, 0, 0),
 6651: (9234, 1, 0, 0),
 6782: (9821, 1, 6, 0),
 3587: (9762, 1, 0, 0),
 5950: (4816, 1, 0, 0),
 6377: (4816, 1, 0, 0),
 6391: (9843, 1, 0, 0),
 5947: (9763, 1, 0, 0),
 1640: (4822, 1, 0, 0),
 6346: (9759, 1, 0, 0),
 6653: (8248, 1, 0, 0),
 6626: (9170, 1, 0, 0),
 5952: (9741, 1, 0, 0),
 6219: (4552, 1, 0, 0),
 6652: (8807, 1, 0, 0),
 6765: (4815, 1, 3, 0),
 1652: (2428, 1, 0, 0),
 6394: (9737, 1, 0, 0),
 6730: (8667, 1, 0, 0),
 6223: (9267, 1, 1, 0),
 6381: (7604, 1, 1, 0),
 6836: (9736, 1, 1, 0),
 6358: (8662, 1, 1, 0),
 6202: (9274, 1, 0, 0),
 6359: (2490, 1, 0, 0),
 3182: (9196, 1, 0, 0),
 6767: (7576, 1, 0, 0),
 1657: (3226, 1, 0, 0),
 5171: (9787, 1, 0, 0),
 6783: (9953, 1, 4, 0),
 6698: (5703, 1, 0, 0),
 6776: (9279, 1, 0, 0),
 1656: (3305, 1, 0, 0),
 1653: (1913, 1, 0, 0),
 6191: (9889, 1, 1, 0),
 5162: (9270, 1, 1, 0),
 1365: (9204, 1, 0, 0),
 6173: (9777, 1, 0, 0),
 5188: (9745, 1, 0, 0),
 5197: (9828, 1, 0, 0),
 3041: (9848, 1, 0, 0),
 1599: (9848, 1, 0, 0),
 6938: (9947, 1, 0, 0),
 7011: (9741, 1, 0, 0),
 1654: (2246, 1, 0, 0),
 6014: (9739, 1, 0, 0),
 3176: (9888, 1, 0, 0),
 5626: (7682, 1, 0, 0),
 6931: (9775, 1, 0, 0),
 6961: (6371, 1, 0, 0),
 6013: (9780, 1, 0, 0),
 6012: (9828, 1, 0, 0),
 7014: (9666, 1, 2, 0),
 6245: (9828, 1, 1, 0),
 6960: (9676, 1, 1, 0),
 7010: (9761, 1, 1, 0),
 6009: (9744, 1, 0, 0),
 6939: (9738, 1, 1, 0),
 6010: (9742, 1, 0, 0),
 6008: (9958, 1, 0, 0),
 6936: (9735, 1, 0, 0),
 6937: (9827, 1, 0, 0),
 6248: (9761, 1, 1, 0),
 7013: (9707, 1, 0, 0),
 6011: (9760, 1, 0, 0),
 6935: (9737, 1, 0, 0),
 1650: (1906, 1, 0, 0),
 1658: (2121, 1, 0, 0),
 1651: (2250, 1, 0, 0),
 1089: (3215, 1, 0, 0),
 1253: (1117, 1, 10, 0),
 1262: (1519, 1, 0, 0),
 1081: (3239, 1, 1, 0),
 1196: (1520, 1, 0, 0),
 1265: (1611, 1, 0, 0),
 1112: (1183, 1, 0, 0),
 1119: (1088, 1, 0, 0),
 1201: (1636, 1, 0, 0),
 1210: (1669, 1, 1, 0),
 1258: (1395, 1, 0, 0),
 1022: (1088, 1, 0, 0),
 1037: (1140, 1, 0, 0),
 1086: (3355, 1, 1, 0),
 1095: (3370, 1, 3, 0),
 1125: (1392, 1, 0, 0),
 1024: (1647, 1, 0, 0),
 1028: (1118, 1, 0, 0),
 1083: (8685, 1, 0, 0),
 1097: (3233, 1, 3, 0),
 1146: (3379, 1, 0, 0),
 1155: (1638, 1, 8, 0),
 1169: (1349, 1, 0, 0),
 1200: (1638, 1, 0, 0),
 1205: (1638, 1, 0, 0),
 1250: (1651, 1, 1, 0),
 1026: (1638, 1, 0, 0),
 1085: (1604, 1, 0, 0),
 1110: (1699, 2, 6, 0),
 1161: (1710, 1, 3, 0),
 1164: (1324, 1, 8, 0),
 1002: (1113, 1, 0, 0),
 1033: (1639, 1, 0, 0),
 1082: (2960, 1, 0, 0),
 1163: (1752, 1, 6, 0),
 1025: (1649, 1, 0, 0),
 1027: (1640, 1, 0, 0),
 1090: (1430, 1, 1, 0),
 1127: (2960, 1, 0, 0),
 1018: (1704, 1, 0, 0),
 1193: (1698, 1, 0, 0),
 1020: (1219, 1, 0, 0),
 1036: (1643, 1, 0, 0),
 1114: (3197, 1, 0, 0),
 1206: (1666, 1, 0, 0),
 1252: (1437, 1, 0, 0),
 1029: (1644, 1, 0, 0),
 1019: (1645, 1, 0, 0),
 1087: (3232, 1, 1, 0),
 1021: (1658, 1, 0, 0),
 1034: (1646, 1, 0, 0),
 1212: (1658, 1, 0, 0),
 1115: (3237, 1, 0, 0),
 1148: (3374, 1, 0, 0),
 1152: (1586, 1, 0, 0),
 1249: (1109, 1, 2, 0),
 1111: (3199, 1, 2, 0),
 1122: (3247, 1, 0, 0),
 1096: (3367, 1, 2, 0),
 1038: (1653, 1, 0, 0),
 1126: (1437, 1, 0, 0),
 1091: (1660, 1, 2, 0),
 1213: (1586, 1, 0, 0),
 1080: (3180, 1, 0, 0),
 1147: (2348, 1, 1, 0),
 1149: (1458, 1, 0, 0),
 1084: (3105, 1, 1, 0),
 1023: (1692, 1, 0, 0),
 1088: (3278, 1, 0, 0),
 1192: (1674, 1, 0, 0),
 1032: (1699, 1, 0, 0),
 1175: (1103, 1, 5, 0),
 1030: (1693, 1, 0, 0),
 1094: (1693, 1, 0, 0),
 1109: (1431, 1, 1, 0),
 1120: (1698, 1, 0, 0),
 1098: (3068, 1, 0, 0),
 1158: (1633, 1, 0, 0),
 1113: (3522, 1, 0, 0),
 1167: (1097, 1, 7, 0),
 1170: (1357, 2, 2, 0),
 1159: (1158, 1, 4, 0),
 1116: (1109, 1, 1, 0),
 1153: (1343, 1, 6, 0),
 1093: (3069, 1, 1, 0),
 1031: (1200, 1, 0, 0),
 1035: (1095, 1, 0, 0),
 1118: (1108, 1, 0, 0),
 1354: (1608, 1, 0, 0),
 1370: (1305, 1, 0, 0),
 1407: (2394, 1, 0, 0),
 1481: (1986, 1, 1, 0),
 1525: (2960, 1, 0, 0),
 1602: (3709, 1, 0, 0),
 1611: (3126, 1, 0, 0),
 1369: (1947, 1, 0, 0),
 1400: (1554, 1, 1, 0),
 1410: (1231, 1, 0, 0),
 1359: (1927, 1, 0, 0),
 1364: (4658, 1, 0, 0),
 1392: (1927, 1, 0, 0),
 1401: (3607, 1, 0, 0),
 1529: (1935, 1, 0, 0),
 1350: (4772, 1, 0, 0),
 1393: (3782, 1, 0, 0),
 1405: (2159, 1, 1, 0),
 1486: (1934, 1, 2, 0),
 1371: (1346, 1, 1, 0),
 1380: (1346, 1, 1, 0),
 1355: (3658, 1, 0, 0),
 1361: (1096, 1, 1, 0),
 1408: (2428, 1, 0, 0),
 1483: (1919, 1, 1, 0),
 1600: (3031, 1, 0, 0),
 1349: (1903, 1, 2, 0),
 1487: (1267, 1, 3, 0),
 1527: (2002, 1, 1, 0),
 1533: (3702, 1, 7, 0),
 1598: (3484, 1, 1, 0),
 1617: (2430, 1, 0, 0),
 1368: (2029, 1, 0, 0),
 1379: (3654, 1, 1, 0),
 1534: (3658, 1, 0, 0),
 1394: (4413, 1, 0, 0),
 1620: (2246, 1, 0, 0),
 1362: (1148, 1, 1, 0),
 1363: (2819, 1, 1, 0),
 1390: (1231, 1, 0, 0),
 1482: (1918, 1, 0, 0),
 1528: (1947, 1, 1, 0),
 1402: (2114, 1, 0, 0),
 1356: (1942, 1, 1, 0),
 1399: (3658, 1, 0, 0),
 1417: (1931, 1, 1, 0),
 1536: (4013, 1, 3, 0),
 1597: (4140, 1, 0, 0),
 1610: (2407, 1, 0, 0),
 1619: (1915, 1, 1, 0),
 1535: (3057, 1, 2, 0),
 1484: (3729, 1, 8, 0),
 1607: (3710, 1, 6, 0),
 1608: (3447, 1, 0, 0),
 1372: (2014, 1, 0, 0),
 1398: (3716, 1, 0, 0),
 1531: (2241, 1, 1, 0),
 1396: (3100, 1, 0, 0),
 1409: (1907, 1, 1, 0),
 1540: (3095, 1, 0, 0),
 1604: (3224, 1, 0, 0),
 1537: (2811, 1, 0, 0),
 1367: (1895, 1, 1, 0),
 1406: (2127, 1, 1, 0),
 1539: (1925, 1, 1, 0),
 1613: (2314, 1, 0, 0),
 1593: (7159, 1, 1, 0),
 1351: (3778, 1, 1, 0),
 1594: (3226, 1, 0, 0),
 1524: (4469, 1, 0, 0),
 1622: (1914, 1, 0, 0),
 1403: (1914, 1, 0, 0),
 1596: (3729, 1, 1, 0),
 1522: (1939, 1, 1, 0),
 1609: (3390, 1, 8, 0),
 1521: (1237, 1, 1, 0),
 1601: (3246, 1, 0, 0),
 1532: (3434, 1, 1, 0),
 1530: (2407, 1, 0, 0),
 1366: (2386, 1, 1, 0),
 1526: (1923, 1, 1, 0),
 1404: (1927, 1, 0, 0),
 1616: (1986, 1, 1, 0),
 1538: (3103, 1, 1, 0),
 1595: (3231, 1, 0, 0),
 1618: (1992, 1, 13, 0),
 1603: (2384, 1, 0, 0),
 1523: (2878, 1, 0, 0),
 1615: (1466, 1, 1, 0),
 1942: (2479, 1, 2, 0),
 1835: (1428, 1, 1, 0),
 1943: (2508, 1, 1, 0),
 1982: (2327, 1, 0, 0),
 1989: (2312, 1, 0, 0),
 2036: (3151, 1, 0, 0),
 1614: (4469, 1, 0, 0),
 2129: (2190, 1, 0, 0),
 1839: (2159, 1, 1, 0),
 1937: (1484, 1, 0, 0),
 1986: (2290, 1, 0, 0),
 1996: (2379, 1, 0, 0),
 2126: (2102, 1, 1, 0),
 1841: (1466, 1, 3, 0),
 1945: (2371, 1, 1, 0),
 1983: (2188, 1, 1, 0),
 1994: (2830, 1, 4, 0),
 2034: (2400, 1, 1, 0),
 2127: (2251, 1, 2, 0),
 2152: (2533, 1, 0, 0),
 1840: (1897, 1, 0, 0),
 1979: (2622, 1, 0, 0),
 2032: (2375, 1, 0, 0),
 1838: (2115, 1, 1, 0),
 1988: (1930, 1, 0, 0),
 2130: (2238, 1, 1, 0),
 1938: (2141, 1, 1, 0),
 1987: (2432, 1, 1, 0),
 2123: (2382, 1, 0, 0),
 1833: (2393, 1, 0, 0),
 1946: (2404, 1, 0, 0),
 2035: (2263, 1, 0, 0),
 2124: (2186, 1, 3, 0),
 2030: (3692, 1, 1, 0),
 2037: (5179, 1, 1, 0),
 1939: (2352, 1, 2, 0),
 2033: (3324, 1, 1, 0),
 1842: (1915, 1, 0, 0),
 1940: (1909, 1, 1, 0),
 1981: (2156, 1, 1, 0),
 1990: (2144, 1, 1, 0),
 1995: (2389, 1, 2, 0),
 2039: (2172, 1, 2, 0),
 2122: (2583, 1, 0, 0),
 1977: (1897, 1, 0, 0),
 2031: (3227, 1, 0, 0),
 2128: (2124, 1, 2, 0),
 1978: (2252, 1, 1, 0),
 2038: (2618, 1, 0, 0),
 2121: (2561, 1, 0, 0),
 1941: (2315, 1, 0, 0),
 1837: (2238, 1, 0, 0),
 1944: (1897, 1, 1, 0),
 1836: (2927, 1, 1, 0),
 1992: (2833, 1, 1, 0),
 2148: (2382, 1, 0, 0),
 1985: (2162, 1, 0, 0),
 1834: (2152, 1, 1, 0),
 2125: (2220, 1, 1, 0),
 1993: (2239, 1, 5, 0),
 2146: (2281, 1, 0, 0),
 1980: (2836, 1, 0, 0),
 2147: (1646, 1, 0, 0),
 1991: (2238, 1, 1, 0),
 1984: (2512, 1, 3, 0),
 2154: (2144, 1, 1, 0),
 2149: (1647, 1, 0, 0),
 2155: (2201, 1, 0, 0),
 2153: (2266, 1, 0, 0),
 2150: (2323, 1, 0, 0),
 1606: (3778, 1, 3, 0),
 2301: (4624, 1, 0, 0),
 2435: (1683, 1, 1, 0),
 2432: (3196, 1, 0, 0),
 2431: (3059, 1, 0, 0),
 2434: (3156, 1, 0, 0),
 2436: (3045, 1, 0, 0),
 2535: (3246, 1, 0, 0),
 2437: (3255, 1, 0, 0),
 2530: (3237, 1, 0, 0),
 2433: (3230, 1, 1, 0),
 2487: (3313, 1, 2, 0),
 2489: (3380, 1, 1, 0),
 2533: (3362, 1, 27, 0),
 2429: (3265, 1, 1, 0),
 2430: (3046, 1, 0, 0),
 2488: (3570, 1, 1, 0),
 2456: (3138, 1, 3, 0),
 2455: (3308, 1, 1, 0),
 2532: (3570, 1, 11, 0),
 2461: (3095, 1, 0, 0),
 2594: (4201, 1, 3, 0),
 2460: (2960, 1, 0, 0),
 2454: (3330, 1, 14, 0),
 2457: (3380, 1, 0, 0),
 2452: (2947, 1, 0, 0),
 2438: (3371, 1, 1, 0),
 2590: (3196, 1, 0, 0),
 2458: (3263, 1, 3, 0),
 2537: (3192, 1, 13, 0),
 2536: (3221, 1, 3, 0),
 2459: (3181, 1, 0, 0),
 2539: (3353, 1, 1, 0),
 2531: (3196, 1, 0, 0),
 2538: (3100, 1, 0, 0),
 2827: (2811, 1, 0, 0),
 2671: (6488, 1, 0, 0),
 2672: (7154, 1, 0, 0),
 2673: (2960, 1, 0, 0),
 2852: (7628, 1, 0, 0),
 2804: (3755, 1, 1, 0),
 2850: (7666, 1, 0, 0),
 2826: (6445, 1, 0, 0),
 2851: (5998, 1, 0, 0),
 2849: (6384, 1, 0, 0),
 2924: (1226, 1, 0, 0),
 2928: (3473, 1, 0, 0),
 3096: (1366, 1, 3, 0),
 3181: (4146, 1, 1, 0),
 3138: (4105, 1, 1, 0),
 3135: (4469, 1, 0, 0),
 3178: (4258, 1, 1, 0),
 3034: (3059, 1, 0, 0),
 3054: (5041, 1, 0, 0),
 3038: (5812, 1, 0, 0),
 3087: (4469, 3, 2, 1),
 3179: (4366, 1, 1, 0),
 2918: (3426, 1, 1, 0),
 2966: (3486, 1, 0, 0),
 3139: (4083, 1, 0, 0),
 2974: (4469, 1, 0, 0),
 3037: (6386, 1, 0, 0),
 3093: (4027, 1, 7, 0),
 3033: (8160, 1, 0, 0),
 2935: (3555, 1, 0, 0),
 3095: (4236, 1, 1, 0),
 3134: (4258, 1, 0, 0),
 3031: (8171, 1, 0, 0),
 3089: (4140, 1, 2, 0),
 3177: (4446, 1, 1, 0),
 3035: (8686, 1, 4, 0),
 3136: (6080, 1, 0, 0),
 3032: (4044, 1, 0, 0),
 3036: (6464, 1, 0, 0),
 2920: (3061, 1, 1, 0),
 2932: (3055, 1, 1, 0),
 2930: (4097, 1, 1, 0),
 2927: (3059, 1, 0, 0),
 3039: (6464, 1, 2, 0),
 2931: (4149, 1, 1, 0),
 2934: (4123, 1, 2, 0),
 3091: (4212, 1, 13, 0),
 3124: (4118, 1, 0, 0),
 2936: (4039, 1, 0, 0),
 2925: (3065, 1, 1, 0),
 3141: (5998, 1, 0, 0),
 3185: (4009, 1, 0, 0),
 2929: (4212, 1, 1, 0),
 3180: (6386, 1, 0, 0),
 2919: (4171, 1, 0, 0),
 2921: (4118, 1, 1, 0),
 3140: (4153, 1, 4, 0),
 3183: (4469, 1, 0, 0),
 2937: (4044, 1, 0, 0),
 3137: (7177, 1, 1, 0),
 2923: (4159, 1, 1, 0),
 3092: (4057, 1, 11, 0),
 2922: (4469, 1, 0, 0),
 2926: (3988, 1, 2, 0),
 3123: (4368, 1, 2, 0),
 3184: (2228, 2, 10, 1),
 3068: (4149, 1, 3, 0),
 3097: (1330, 1, 2, 0),
 3065: (3113, 1, 1, 0),
 3063: (4044, 1, 0, 0),
 3067: (4469, 1, 2, 0),
 3069: (4152, 1, 3, 0),
 3062: (3995, 1, 2, 0),
 3060: (4140, 1, 2, 0),
 3064: (4161, 1, 5, 0),
 3088: (4219, 2, 4, 0),
 3066: (4139, 1, 4, 0),
 3061: (4213, 1, 4, 0),
 3309: (4719, 1, 1, 0),
 3384: (7172, 1, 2, 0),
 3387: (4552, 1, 0, 0),
 3388: (2377, 1, 1, 0),
 3383: (6401, 1, 0, 0),
 3368: (7101, 1, 0, 0),
 3385: (5210, 1, 1, 0),
 3369: (8171, 1, 0, 0),
 3386: (8409, 1, 3, 0),
 3371: (7124, 1, 1, 0),
 3592: (6407, 1, 2, 0),
 3583: (5012, 1, 1, 0),
 3582: (6360, 1, 0, 0),
 3584: (6359, 1, 1, 0),
 5245: (5604, 1, 1, 0),
 5383: (7107, 1, 1, 0),
 5240: (7125, 1, 0, 0),
 5290: (6421, 1, 0, 0),
 5374: (7133, 1, 2, 0),
 5235: (5655, 1, 3, 0),
 5283: (7594, 1, 1, 0),
 5369: (6080, 1, 0, 0),
 5385: (7128, 1, 0, 0),
 5249: (7594, 1, 2, 0),
 5255: (7568, 1, 1, 0),
 5289: (5687, 1, 4, 0),
 5370: (6172, 1, 0, 0),
 5194: (7190, 1, 0, 0),
 5254: (7248, 1, 0, 0),
 3524: (6612, 1, 0, 0),
 5293: (7128, 1, 0, 0),
 5269: (7579, 1, 0, 0),
 5390: (8810, 1, 0, 0),
 5193: (6172, 1, 1, 0),
 5246: (7636, 1, 0, 0),
 5234: (3595, 1, 5, 0),
 5250: (7159, 1, 3, 0),
 5251: (7666, 1, 0, 0),
 5237: (7689, 1, 0, 0),
 3526: (7159, 1, 1, 0),
 5236: (7181, 1, 7, 0),
 5386: (6388, 1, 0, 0),
 5291: (3169, 1, 3, 0),
 5190: (7580, 1, 0, 0),
 5196: (7124, 1, 1, 0),
 5257: (6401, 1, 0, 0),
 5247: (7579, 1, 1, 0),
 5311: (6391, 1, 0, 0),
 5308: (5687, 1, 1, 0),
 5310: (7154, 1, 1, 0),
 5312: (7181, 1, 2, 0),
 5304: (7601, 1, 1, 0),
 6124: (4282, 1, 0, 0),
 6175: (3964, 1, 0, 0),
 6111: (6479, 1, 0, 0),
 5918: (8170, 1, 0, 0),
 6312: (7104, 1, 1, 0),
 6109: (4502, 1, 0, 0),
 6122: (8244, 1, 0, 0),
 6110: (8651, 1, 0, 0),
 6123: (7636, 1, 0, 0),
 6306: (8878, 1, 0, 0),
 6112: (4552, 1, 0, 0),
 6305: (8160, 1, 1, 0),
 6108: (8653, 1, 0, 0),
 6107: (8171, 1, 0, 0),
 6308: (4056, 1, 0, 0),
 6310: (8234, 1, 1, 0),
 6309: (6479, 1, 1, 0),
 6514: (3454, 1, 2, 0),
 6565: (8762, 1, 0, 0),
 6598: (3454, 1, 1, 0),
 6670: (8723, 1, 2, 0),
 6534: (8759, 1, 2, 0),
 6548: (8663, 1, 0, 0),
 6549: (8762, 1, 1, 0),
 6602: (8750, 1, 2, 0),
 6609: (8744, 1, 7, 0),
 6566: (8662, 1, 0, 0),
 6667: (8796, 1, 11, 0),
 6561: (2647, 1, 0, 0),
 6535: (8639, 1, 1, 0),
 6506: (8731, 1, 0, 0)}

In [19]:
df_exec_by_std[df_exec_by_std['question'] == 6561]

,student,question,is_correct,num_submissions,num_tests,num_errors,num_logic_errors,num_syntax_errors,amount_of_change,num_queries
35208,8820,6561,True,2,13,1,1,0,153,15
35226,2647,6561,True,1,0,0,0,0,0,1
35344,8302,6561,True,1,3,0,0,0,7,4
35373,8658,6561,True,1,2,0,0,0,0,3
35414,8661,6561,True,1,2,0,0,0,0,3
35509,8877,6561,True,1,2,0,0,0,0,3
35646,8651,6561,True,1,3,0,0,0,0,4
35805,4857,6561,True,1,5,0,0,0,9,6
35995,8816,6561,True,1,0,0,0,0,0,1
36025,8830,6561,True,1,2,0,0,0,0,3
36131,8773,6561,True,1,7,0,0,0,174,8
36193,8778,6561,True,1,20,0,0,0,290,21
36206,8779,6561,True,1,2,0,0,0,0,3
36261,8783,6561,True,3,5,2,0,2,85,8
36377,8791,6561,True,1,0,0,0,0,0,1
36393,8792,6561,True,1,6,0,0,0,11,7
36551,6541,6561,True,2,2,1,0,1,1,4
36777,8804,6561,True,1,0,0,0,0,0,1
36944,8723,6561,True,1,0,0,0,0,0,1
37105,8733,6561,True,1,0,0,0,0,0,1
37340,8748,6561,True,1,0,0,0,0,0,1
37430,8755,6561,True,1,5,0,0,0,119,6
37459,8918,6561,True,1,11,0,0,0,431,12